.Card {
  font-size: 14px;
  font-weight: bolder;
}

label {
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  width: fit-content;
}

.desc,
.username,
.place {
  font-size: 14px;
}

.star {
  color: gold;
}
